@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100px;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    margin: 20px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEF7FF;
    position: relative;
    flex: 1;
    margin: 10px;
    width: 1000px;
    margin: 10px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 Spx rgba(0, 0, 0, .3);
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEF7FF;
    position: relative;
    flex: 1;
    margin: 10px;
    width: 1000px;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 Spx rgba(0, 0, 0, .3);
}

.card{
    margin: 10px 20px 10px 20px;
    padding: 20px 10px 20px 10px;
    border-radius:20px;
    width: 200px;
    height: 150px;
    box-shadow: 5px 5px #888888;
    background-color: #7AB2B2;
}

.card:hover{
    background-color: #888888;
}

.text-center{
    text-align: center;
}

.left-right{
    padding-left: 20px;
    padding-right: 20px;
}